= link_to 'Cancelar', admin_customer_membro_clientes_path(@customer), :class => 'btn btn-s-md btn-danger mr-10'
= f.button :submit, 'Salvar', :class => 'btn-primary', data: { customer_id: @membro.customer_id }
